[submodule "third_party/libpng"]
	path = third_party/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/libwebp"]
	path = third_party/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "third_party/openexr"]
	path = third_party/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
